* {
    box-sizing: border-box;  
}

.landing {
    height:100vh;
    width:100%;
    background-image: url(../images/dev-port-land-5:25:19.gif);
    background-size: contain;
}

#landing-animate {
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

h1 {
    color: ivory;
    font-family: 'Playfair Display SC', serif;

    font-size: 75px;
}

h2 {
    font-family: 'Mandali', sans-serif;
    font-size: 50px;
}

.name-text {
    text-align: center;
    padding-top: 200px;
}

.job {
    text-align: center;
    padding-top: 40px;
}

.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 2em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .open-btn-host {
      text-align: center;
      padding-top: 70px;
  }

  #open-btn {
      font-size: 20px;
      font-family: 'Playfair Display SC', serif;
      color: ivory;
      border: solid 1px ivory;
      text-decoration: none;
      padding:10px;
  }

  #open-btn:hover {
      cursor: pointer;
      background-color: ivory;
      border:black;
      color: black;
  }

  .display-none {
    display:none;
  }

  .call-fade {
    -webkit-animation: fadein 2s;
}

  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.about {
    height:100vh;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    background-color: slategrey;
    border-bottom: solid 3px silver;
}

#about-btn {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: left;
    justify-self: left;
    text-decoration: none;
    padding:17px;
    color:whitesmoke;
    font-family: 'Mandali', sans-serif;
    font-size:20px;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#about-btn:hover {
    color:rgb(148, 14, 14);
}

#portfolio-btn {
    grid-column-start: 3;
    grid-column-end: 3;
    align-self: left;
    justify-self: left;
    text-decoration: none;
    padding:17px;
    color:whitesmoke;
    font-family: 'Mandali', sans-serif;
    font-size: 20px;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#portfolio-btn:hover {
    color:rgb(148, 14, 14);
}

#resume-btn {
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: left;
    justify-self: left;
    text-decoration: none;
    padding:17px;
    color:whitesmoke;
    font-family: 'Mandali', sans-serif;
    font-size: 20px;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#resume-btn:hover {
    cursor: pointer;
    color:rgb(148, 14, 14);
}

.portfolio {
    height:100vh;
}

.icons-host {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top:30px;
}

#icon-1{
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;
    height:.1em;
    width:.1em;
}

#icon-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
    height:.1em;
    width:.1em
}

#icon-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    height:.1em;
    width:.1em
}

.hide {
    visibility:hidden;
}

.tag-host {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top:30px;
}

#tag-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;
    font-family: 'Mandali', sans-serif;
    color: slategray;
}

#tag-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
    font-family: 'Mandali', sans-serif;
    color: slategray;
}

#tag-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    font-family: 'Mandali', sans-serif;
    color: slategray;
}

.text-add {
    font-weight: 300;
    font-size: 1.2em;
  }
  
.text-add .letter {
    display: inline-block;
    line-height: 1em;
}
  
.my-picture {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top:75px;
}

#my-image {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
    height: 17em;
    width:.01em;
    border-radius:50%;
}

#bio {
    grid-column-start: 4;
    grid-column-end: 6;
    align-self: center;
    justify-self: center;
    font-family: 'Mandali', sans-serif;
    line-height: 1.5;
    font-size:1.2em;
}

.text-fade {
    -webkit-animation: textFade 2s;
}

@keyframes textFade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.about-links {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top:75px;
}

#gitHub-link {
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color:black;
}

#linkedIn-link {
    grid-column-start: 5;
    grid-column-end: 5;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color:black;
}

#gitHub-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

#gitHub-link:hover:after {
    width: 100%;
}

#gitHub-link:hover {
    cursor: pointer;
}

#linkedIn-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

#linkedIn-link:hover:after {
    width: 100%;
}

#linkedIn-link:hover {
    cursor: pointer;
}

.my-projects {
    position: relative;
    font-weight: 200;
    font-size: 2em;
  }
  
  .my-projects .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .my-projects .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .my-projects {
      padding-top: 75px;
      text-align:center;
  }

  .project-host {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top:75px;
  }

  .pic-size {
      height: .01em;
      width: .01em;
      border-radius: 30%;
  }

  .pic-size:hover {
      cursor: pointer;
  }

  .project-left {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
  }

  .project-center {
    grid-column-start: 3;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
  }

  .project-right {
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
  }